# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
